body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    height: 100vh;
    display: flex;
    position:relative;
    justify-content: center;
    align-items: center;
}
.form {
    width: 25%;
    border-radius: 10px;
    background: linear-gradient(#fbb845, rgb(238, 170, 44), #fcbe52);
    padding: 1rem 2rem;
}
h2 {
    text-align: center;
    color: #9e0202;
}
::placeholder {
    font-size: 15px;
    color: #382e1d;
    padding: 6px;
    font-weight: 600;
}
input, textarea {
    border-radius: 5px;
    width: 100%;
    outline: none;
    border: none;
    color: #221b0d;
    padding-left: 10px;
    margin-top: 0.1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 30px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
input:focus, textarea:focus {
    outline: none;
    box-shadow: 0 0 26px #de9f31;
    border: 1.7px solid #382e1d;
}
button {
    padding: 6px;
    cursor: pointer;
    border-radius: 5px;
    height: 2.5rem;
    background-color: #fea705;
    color: #9e0202;
    text-align: center;
    font-weight: 600;
    box-shadow: 0 0 6px #ad7609;
    border: none;
    display: block;
    width: 100%;
    margin-top: 15px;
}
button:hover{
    background-color: #9e0202;
    color: white;
}
.form div {
    display: flex;
    flex-direction: column;
}
.form textarea {
    height: 180px;
}